*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --bg-color: #e056fd;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.search-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:60px;
    width: 60%;
}

.search{
    width: 430px;
    min-height: 90px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: 10px solid plum;
    font-size: 2em;
    transition: border 0.2s ease-in-out;
}

.search:focus{
    border: 10px solid purple;
}