*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #e056fd;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.search-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:60px;
    width: 60%;
}
